.dark-text {
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}

.red-text {
    color: aqua;
    font-weight: bold;
    font-size: 20px;
}

.some-text {
    color: darkslateblue;
    font-weight: bold;
    font-size: 20px;
}

.myTheme-text {
    color: gold;
    font-weight: bold;
    font-size: 20px;
}